*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.header { 
    height: 10vh;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color:  #4CAF50; }

.navbar {
    background-color: #4CAF50;
    overflow: hidden;
    display: block;
    margin: 5px;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
img{ /*gato*/
    float: right;
    background-image: none;
    width: 50px;
    height: 50px;
    } 
aside{
    width: 20%;
    background-color: green;
    padding: 10px;
    height: 75vh;
    float: left;
}
aside1{
    width: 20%;
    background-color: green;
    padding: 10px;
    height: 75vh;
    float: right;
}
main{    
    width: 60%;
    background-color: white;
    padding: 10px;
    height: 75vh;
    float: left;
}
h1 { 
    font-size: 36px;
    text-align: center;
    color: #4CAF50;
    font-size: 40px;
    text-align: left;
}

h2{
    color: #000000;
    h3{ color: #4CAF50; }
}
p{
    font-size: 20px;
    color: #333;
    line-height: 1.6;}

#pss.p{ text-align: left; font-family: 'Times New Roman', Times, serif;
}
#abril{ font-size: 400%; font-family: Arial, Helvetica, sans-serif; color: brown; }
footer{
    width: 100%;
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
}
.content {
    padding: 20px;
    text-align: center;
}

