*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    

}
.row:after {
    content: "";
    display: table;
    clear: both;
}
header{
    height: 10vh;
    background-color: white;
    color: #4CAF50;
    padding: 10px;
    font-size: 25px;
}
.navbar{
    width: 100%;
    background-color:#4CAF50 ;
    overflow: hidden;
    padding: 10px;
}
.navbar a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 25px;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
aside{
    width: 20%;
    background-color:  #4CAF50;
    padding: 10px;
    height: 75vh;
    float: left;
}
aside1{
    width: 20%;
    background-color:  #4CAF50;
    padding: 10px;
    height: 75vh;
    float: right;
}
main{    
    width: 60%;
    padding: 10px;
    height: auto;
    float: left;
}
h1 {
    font-size: 34px;
    color: #4CAF50;
    text-align: left;
}
h2{
    color: #000000;
}
h3{ color: #4CAF50; }
img{
    width: 350px ;
    height: 200px ;
    position: center;
}

.img{width: 310px ;
    height: 200px ;
    position: center; }
footer{
    width: 100%;
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
}

