*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    

}
.row:after {
    content: "";
    display: table;
    clear: both;
}
header{
    height: 10vh;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}
nav{
    width: 100%;
    background-color: #353535;
    overflow: hidden;
    padding: 10px;
}
nav > a{
    color: white;
    padding: 15px;
    text-decoration: none;
}
nav > a:hover{
    background-color: #464646;
}
aside{
    width: 20%;
    background-color: gray;
    padding: 10px;
    height: 75vh;
    float: left;
}
aside1{
    width: 20%;
    background-color: gray;
    padding: 10px;
    height: 75vh;
    float: right;
}
main{    
    width: 60%;
    background-color: darkgray;
    padding: 10px;
    height: 75vh;
    float: left;
}
h1 {
    font-size: 34px;
    text-align: center;
    color: #4CAF50;
    text-align: left;
}
h2{
    color: #000000;
}
h3{ color: #4CAF50; }
img{
    width: 350px ;
    height: 200px ;
    position: center;
}
.navbar {
    background-color: #4CAF50;
    /*overflow: hidden;*/
}
.navbar a {
    /*float: left;*/
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}



.img{width: 310px ;
    height: 200px ;
    position: center; }
footer{
    width: 100%;
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
}

